<div class="container jumbotron">
	<div class="panel panel-primary col-md-8 col-md-offset-2">
	<h2> Board Game Selector </h2>

	<p> Searches your Board Game Geek collection and picks games on their player count, legth and rating.
	</p>
  		<%= form_for :search, url: search_index_path do |f| %>
  	<p>
		<%= f.label :bgg_username %>
		<%= f.text_field :bgg_username, autofocus: true %>
	</p>
	<p>
		<%= f.label :number_of_players %>
		<%= f.text_field :number_of_players, autofocus: true %>
	</p>
	<p>
		<%= f.label :game_length %>
		<%= f.select(:game_length, [['Any', 'Any'], ['Short (under 1 hour)', 'Short'], ['Medium (1-2 hours)', 'Medium'], ['Long (2+ hours)', 'Long']]) %>
	</p>
	<p>
		<%= f.label :min_bgg_rating %>
		<%= f.select(:min_bgg_rating, [['N/A', '0'], ['10', '10'], ['9', '9'], ['8', '8'] , ['7', '7'], ['6', '6'], ['5', '5'], ['4', '4'], ['3', '3'], ['2', '2'],['1', '1']]) %>

	</p>
		<%= f.submit "Get Games", class: "btn btn-default" %>
		<% end %>
	<br>	
	</div>

</div>