<div id="container">
	<h1> Recommended Games </h1>

		<h4>Hey <%= @search[:bgg_username] %>, here are your selected games: </h4>

		<div id="game_line">

				<% @doc.css('item').map do |game| %>

					<p>
					<% @playtime = game.css('stats').attr('playingtime') %>
					<% @min_players = game.css('stats').attr('minplayers') %>
					<% @max_players = game.css('stats').attr('maxplayers') %>

					<% if @max_players == nil then @max_players = @minplayers end %>

					<% @game_id = game.attr('objectid') %>
					
					<% @playtime = @playtime.to_s.to_i %>
					<% @min_players = @min_players.to_s.to_i %>
					<% @max_players = @max_players.to_s.to_i %>

					<% if @playtime >= get_length[0] && @playtime <= get_length[1] %>
						<% if get_players != 0 && @min_players <= get_players && @max_players >= get_players %>

							<%= game.at('name').text %>
							<%= "( " + game.css('yearpublished').text + " )" %>
							<%= " - Average Playtime: " + @playtime.to_s + " minutes" %>
							<%= " - " + @min_players.to_s + " to " + @max_players.to_s + " players" %>
						<% end %>
					<% end %>	
					</p>

				<% end %> 

		</div>

</div>