<div class="container-fluid">	
	<div class="jumbotron text-center list-group">
		<div id="headery">
		<h1> Recommended Games </h1>

		<h2>Here are your stats and selected games:</h2>
		</div>
		<% @collection_id = [] %>
		<div id="stats">
			<h3> <%= @search[:bgg_username] %>'s stats </h3>
			<p>
				All Games in Collection: <%= @doc.css('item').count %>
			</p>
			<p>
				Number of Players: <%= @search[:number_of_players] %>
			</p>
			<p>
				Length of Play: <%= @search[:game_length] %>
			</p>
		</div>
			<% @doc.css('item').map do |game| %>
				<% @playtime = game.css('stats').attr('playingtime') %>
				<% @min_players = game.css('stats').attr('minplayers') %>
				<% @max_players = game.css('stats').attr('maxplayers') %>
				<% @bgg_rating = game.css('average').attr('value')  %>
	
				<% if @max_players == nil then @max_players = @minplayers end %>
	
				<% @game_id = game.attr('objectid') %>
				
				<% @playtime = @playtime.to_s.to_i %>
				<% @min_players = @min_players.to_s.to_i %>
				<% @max_players = @max_players.to_s.to_i %>
			
				<% if @playtime >= get_length[0] && @playtime <= get_length[1] %>
					<% if get_players != 0 && @min_players <= get_players && @max_players >= get_players %>
					<div class="list-group-item"">		
						<a target="_blank" href=<%= "https://boardgamegeek.com/	boardgame/#{game.attr('objectid')}" %>>
							<%= image_tag(game.css('thumbnail').text) %>
						<p>
							<%= game.at('name').text %>
							<%= "( " + game.css('yearpublished').text + " )" %>
						</p>
						</a>
						<p>
							<%= " - Average Playtime: " + @playtime.to_s + " 	minutes" 	%>
							<%= " - " + @min_players.to_s + " to " + @max_players.		to_s + " players" %>
							<%= " - BGG Rating: " + @bgg_rating.to_s.to_f.round(2).	to_s %>

							<% @collection_id << game.attr('objectid') %>
						</p>
					</div>
					<% end %>
				<% end %>	
				</p>
			<% end %> 
		<div id="random">
			<a target="_blank" href=<%= "https://boardgamegeek.com/boardgame/#{@collection_id.shuffle.pop}" %>>
				Select a Random Game From My Current Preferences
			</a>
		</div>
			<%= link_to "Make Another Search", search_index_path %>

	</div>
</div>